body {
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active,
a:visited {
    outline: 0;
    color: #E81B1B;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}


hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
    /*background-color: #2C3E50;*/
}

hr.star-light:after {
    color: #fff;
    background-color: #0E0E0E;
}

.success hr.star-light {
    border-color: #2C3E50;
    color: #fff;
    /*background-color: #2C3E50;*/
}

.success hr.star-light:after{
    color: #2C3E50;
    background-color: #fff;
}


hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #4F565C;
}

header {
    text-align: center;
    color: #fff;
    background: #0E0E0E;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 100;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 2.5em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

.navbar .navbar-nav li a:hover {
background-color: inherit;
color: red;
}

.navbar-default .navbar-nav>.active>a {
background-color: inherit;    
color: #E81B1B;
}

.navbar-default .navbar-nav>.active>a:focus {
background-color: inherit;    
color: #E81B1B;
}

@media(max-width:767px) {
.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
    background-color: black;
}
.navbar-header .page-scroll {
    background-color: rgba(4, 4, 4, 0.56);
}

.img-rounded {
    padding-top: 15%;
}

}
@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        background-color: rgba(4, 4, 4, 0.56);
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}



.navbar-default,
.navbar-inverse {
    border: 0;
}

section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #2C3E50;
    background: #fff;

}

section.success ul li {
    margin: 0 20% 0 20%;
    font-size: 1.25em;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: #2c3e50;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}



@media(min-width:767px) {
   
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}



footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #2c3e50;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}

.index .btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    color: #fff;
    background-color: black;
}
.btn-social:hover {
    background-color: white;
    color: #32434F;
}


.around .btn-social {
    color: #462F2F;
}

.around .btn-social:hover{
    border: 3px solid #233140;
    background-color: white;
}

.around .btn-social {
    background-color: #F3F3F3;
}
.fa-envelope{
    color: #F3F3F3;
}

.around .fa-envelope{
    color: #382B2B;
}

.fa-envelope:hover{
    color: #2C3573;
}

a .fa-twitter:hover{
    color:#00B6F1;
}
a .fa-github:hover{
    color:#040204;
}
a .fa-wordpress:hover{
    color:#04769C;
}
a .fa-linkedin:hover{
    color: #04669A;;
}
a .fa-google-plus:hover{
    color:#C20806;
}
a .fa-instagram:hover{
    color:#2C6A93;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}



/*profile picture */
.img-rounded {
  max-width: 300px;
  margin-top: -85px;
}



#contact {
    text-align: center;
    background-color: #4F565C;
    color: #fff;

}

.contactparagraph {
    margin: 0 30% 10.5px;
}

/*.contactparagraph a:hover {
    text-decoration: none;
    font-weight: 400;
}*/

.location, .around {
    text-align: center;
    left: 35%;
}





